a {
  &:hover,
  :focus,
  :active {
    text-decoration: none;
  }

  &:visited {
    color: #000;
  }
}

.btn {
  &:focus,
  :active {
    box-shadow: none;
  }
}

h2 {
  color: #1f1f1f;
  font-size: 36px;
}
