a {
  &:hover,
  :focus,
  :active {
    text-decoration: none;
  }

  &:visited {
    color: #000;
  }
}

.btn {
  &:focus,
  :active {
    box-shadow: none;
  }
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

h2 {
  color: #1f1f1f;
  font-size: 36px;
}

h3 {
  line-height: 32px;
  font-size: 26px;
  color: #1f1f1f;
}
