@import "vars";

// nav
.nav {
  line-height: $nav-height;
  position: sticky;
  background-color: #fff;
  z-index: 10;
  top: 0;
  transition: box-shadow 0.3s ease-in-out;

  &-sticky {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;

    .nav__deliver-box {
      &--container {
        animation: slideInRight-540 ease-in-out 0.65s;
        width: 540px;
        opacity: 1;
      }
    }
  }

  &-no-sticky {
    .nav__deliver-box {
      &--container {
        animation: slideOutRight-540 ease-in-out 0.65s;
      }
    }
  }

  &__logo-part {
    display: inline-block;
  }

  &__deliver-box {
    display: inline-block;
    width: 540px;
    position: relative;

    &--container {
      position: absolute;
      width: 0;
      opacity: 0;
      top: -27px;
    }

    .input-group {
      justify-content: center;
      align-content: center;
      height: 48px;
      background-color: #f5f5f5;
      margin-left: 40px;
      flex-wrap: nowrap;
      position: absolute;
    }

    .input-group-prepend {
      height: 48px;

      > span {
        padding-top: 6px;
        background-color: #f5f5f5;
        border: 0;
        border-radius: 0;
      }
    }

    .form-control {
      border: 0;
      padding-left: 2px;
      height: 48px;
      background-color: #f5f5f5;
      font-size: 16px;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__sign-in-part {
    float: right;

    > a {
      color: #1f1f1f;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// header
.header {
  background-color: $header-background-color;
  height: $header-height;

  &__backgrounds {
    position: relative;

    &--left {
      position: absolute;
      top: -26px;
      left: 0;
    }

    &--right {
      position: absolute;
      top: -26px;
      right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: $header-height;

    &--text {
      margin-bottom: 40px;
    }

    &--delivery-box {
      text-align: center;
      display: inline-block;
      width: 662px;

      .input-group {
        justify-content: center;
        align-content: center;
        height: 48px;
        border-radius: 0;

        &.active {
          .form-control,
          .input-group-prepend > span {
            box-shadow: rgb(31, 31, 31) 0 -2px 0 inset;
          }
        }
      }

      .input-group-prepend {
        height: 48px;

        > span {
          padding-top: 6px;
          background: #fff;
          border: 0;
          border-radius: 0;
          transition: box-shadow 0.3s ease-in-out;
        }
      }

      .form-control {
        border: 0;
        padding-left: 2px;
        height: 48px;
        transition: box-shadow 0.3s ease-in-out;

        &:focus {
          box-shadow: none;
        }
      }

      .input-group-append {
        margin-left: 15px;

        > button {
          border-radius: 0;
          background: #3e9920;
          font-size: 16px;
          height: 48px;

          &:hover {
            background: #609c4f;
          }
        }
      }
    }
  }
}
